.textToSpeech .big-box {
  padding: 2rem;
  flex-direction: column;
}

.textToSpeech .chats {
  width: 100%;
  height: 17rem;
  flex-shrink: 0;
  background-size: cover;
  background-position: center;
  overflow-y: auto;
}

.text-input {
  display: inline-flex;
  height: 2rem;
  margin: 0.5rem;
  width: 49rem;
  padding: var(--16, 14px) var(--20, 16px) var(--16, 13px) var(--20, 20px);
  justify-content: flex-end;
  align-items: center;
  gap: 14px;
  border-radius: var(--16, 16px);
  border: 1px solid var(--GS-Grey, #c4c4c4);
  background: rgba(247, 249, 251, 0.4);
  backdrop-filter: blur(10px);
}

.text-area {
  width: 43rem;
}

.icons {
  display: flex;
  flex-direction: row;
}

.small-video {
  width: 20rem;
  height: 12rem;
  flex-shrink: 0;
  border-radius: 24px;
  border: 5px solid var(--Pure-White, #fff);
  background-image: url("../assets/images/photo.png");
  background-size: cover;
  background-position: center;
  margin-right: 5rem;
  margin-left: 2rem;
}

.button-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-div p {
  color: #fff;
  font-weight: bold;
  font-size: larger;
  margin-block-start: 0;
  margin-block-end: 0;
}

.button-div img {
  z-index: 1;
}

.pause-button-div p {
  color: #fff;
  font-weight: bold;
  font-size: larger;
  margin-block-start: 9rem;
  margin-block-end: 0;
}
