@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=SF+Compact+Display:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-montserrat: Montserrat;
  --font-sf-compact-display: "SF Compact Display";
  --regular: Inter;

  /* font sizes */
  --font-size-29xl: 35px;
  --font-size-base: 16px;
  --font-size-8xl-4: 27.4px;
  --font-size-base-3: 16.3px;
  --font-size-xl-5: 20.5px;
  --regular-size: 14px;
  --font-size-15xl: 34px;

  /* Colors */
  --color-white: #fff;
  --color-whitesmoke-100: #f9f9f9;
  --color-whitesmoke-200: #e9e9e9;
  --color-gray: rgba(255, 255, 255, 0.1);
  --color-gray-100: #8a898e;
  --black-100: #1c1c1c;
  --font: #071725;
  --color-gray-200: rgba(255, 255, 255, 0.1);
  --color-black: #000;
  --color-cornflowerblue: #2e9dfb;
  --gs-grey: #c4c4c4;

  /* Spacing */
  --boundvariablesdata: 20px;
  --boundvariablesdata1: 16px;
  --boundvariablesdata2: 16px;
  --boundvariablesdata3: 8px;
  --boundvariablesdata4: 8px;
  --boundvariablesdata5: 24px;

  /* Gaps */
  --gap-5xs: 8px;
  --gap-6xs-1: 6.1px;
  --gap-7xs: 6px;

  /* Border radiuses */
  --br-8xs: 5px;

  /* Paddings */
  --padding-lg-4: 18.4px;
  --padding-5xl-5: 24.5px;
  --padding-lg: 18px;
  --padding-5xl: 24px;

  /* Effects */
  /* Border radiuses */
  --br-14xl-3: 33.3px;
  --br-46xl-4: 65.4px;
  --br-5xs: 8px;
  --br-45xl-2: 64.2px;
  --vision: 0px 0.7609121203422546px 6.09px rgba(255, 255, 255, 0.35) inset,
    -0.7609121203422546px 0.7609121203422546px 0.76px -1.52px
      rgba(255, 255, 255, 0.35) inset,
    0px 18.261890411376953px 22.83px rgba(0, 0, 0, 0.05);
}
